h1 {
  font-size: 5vw;
  font-weight: bold;
  line-height: 1.3;
  color: var(--mantine-color-gray-8);
}

p {
  font-size: max(1.5vw, 18px);
  color: var(--mantine-color-gray-9);
}

a {
  font-size: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  h1 {
    max-width: 70vw;
    text-align: center;
  }
  p {
    font-size: 12px;
  }
}
