.stepper__control--wrapper {
  padding: var(--mantine-spacing-md);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.stepper__content--wrapper {
  padding: 1rem;
}

.stepper__icon {
  width: 25px;
  object-fit: contain;
  overflow: hidden;
}

.stepper__card {
  margin: 1.5rem auto;
  padding: 1.5rem 2rem;
  max-width: 1320px;
  width: 90%;
  border-radius: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .stepper__card {
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
  }
}

/*? ----------------------------- Vehicle Choice ----------------------------- */

.vehicle-choice__card {
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: 1.5rem;
  padding: 2rem 1rem;
  height: 100%;
  cursor: pointer;
}
.vehicle-choice__card:hover {
  border-color: var(--mantine-color-blue-5);
}
.vehicle-choice__card.selected {
  border-color: var(--mantine-color-blue-5);
  outline: 1px solid var(--mantine-color-blue-5);
}

.vehicle-choice__card img {
  height: 140px;
  max-height: 90%;
  object-fit: contain;
}

.vehicle-choice__card h3 {
  font-size: 32px;
  font-weight: bold;
  color: var(--mantine-color-gray-8);
}

@media only screen and (max-width: 1180px) {
  .vehicle-choice__card img {
    height: 120px;
    max-height: 90%;
    object-fit: contain;
  }
}
@media only screen and (max-width: 968px) {
  .vehicle-choice__card img {
    height: 100px;
    max-height: 90%;
    object-fit: contain;
  }
}

/*? ----------------------------- Packages ----------------------------- */

.package__card {
  height: 100%;
  padding: 30px;
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: 1.5rem;
  cursor: pointer;
}
.package__card:hover {
  border-color: var(--mantine-color-blue-5);
}
.package__card.selected {
  border-color: var(--mantine-color-blue-5);
  outline: 1px solid var(--mantine-color-blue-5);
}

.package__card--header {
  margin-bottom: 2rem;
}
.package__card--header h3 {
  font-size: 48px;
  font-weight: 400;
  color: var(--mantine-color-blue-5);
}

.package__salon--card {
  border: 1px solid var(--mantine-color-blue-5);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
.package__salon--card h4 {
  color: var(--mantine-color-gray-7);
  border-bottom: 1px solid var(--mantine-color-gray-4);
  padding: 0 1.5rem;
}
.package__salon--card p {
  color: var(--mantine-color-gray-9);
  font-size: 40px;
  font-weight: 500;
}

.package__card--features {
  list-style: none;
  margin-bottom: 2rem;
}
.package__card--feature {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--mantine-color-gray-6);
  margin-bottom: 1rem;
}

.package__card--duration {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 28px;
}
.package__card--duration span {
  display: block;
  flex: 1;
  border-bottom: 1px dashed var(--mantine-color-blue-4);
}

@media only screen and (max-width: 1280px) {
  .package__card {
    padding: 24px;
  }
  .package__card--header h3 {
    font-size: 34px;
  }
  .package__salon--card h4 {
    font-size: 14px;
  }
  .package__salon--card p {
    font-size: 28px;
  }
  .package__card--feature {
    font-size: 18px;
  }
  .package__card--duration {
    font-size: 24px;
  }
}

@media only screen and (max-width: 568px) {
  .package__card {
    padding: 20px;
  }
  .package__card--header h3 {
    font-size: 24px;
  }
  .package__salon--card h4 {
    font-size: 12px;
    padding: 0% 0.5rem;
  }
  .package__salon--card p {
    font-size: 20px;
  }
  .package__card--feature {
    font-size: 12px;
  }
  .package__card--duration {
    font-size: 14px;
  }

  .package__card--header {
    margin-bottom: 1.5rem;
  }
  .package__card--features {
    margin-bottom: 1.5rem;
  }
}

/*? ----------------------------- Extra Services ----------------------------- */

.extra-services__card {
  height: 100%;
  padding: 30px;
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: 1.5rem;
  cursor: pointer;
}
.extra-services__card:hover {
  border-color: var(--mantine-color-blue-5);
}
.extra-services__card.selected {
  border-color: var(--mantine-color-blue-5);
  outline: 1px solid var(--mantine-color-blue-5);
}

.extra-services__card--content h2 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 1rem;
  color: var(--mantine-color-blue-5);
  font-weight: 500;
}
.extra-services__card--content p {
  font-size: 20px;
  margin-bottom: 1rem;
  color: var(--mantine-color-gray-6);
}

.extra-services__card--features {
  gap: 32px;
  flex-wrap: wrap;
}
.extra-services__features--item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 1280px) {
  .extra-services__card--content h2 {
    font-size: 34px;
  }
  .extra-services__card--content p {
    font-size: 20px;
  }
  .extra-services__card--features {
    gap: 24px;
  }
}
@media only screen and (max-width: 568px) {
  .extra-services__card--content h2 {
    font-size: 28px;
  }
  .extra-services__card--content p {
    font-size: 16px;
  }
  .extra-services__card--features {
    gap: 16px;
  }
}

/*? ------------------------------ User details ------------------------------ */

.user-details__inputs--wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.user-details__input {
  width: calc(50% - 0.5rem);
}

.user-details__payment_methods {
  margin-top: 2rem;
}
.user-details__payment_methods h2 {
  color: var(--mantine-color-gray-9);
  font-weight: 500;
}

.payment-method__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 1rem;
  background: var(--mantine-color-gray-1);
  border-radius: 4px;
  cursor: pointer;
}
.payment-method__card:hover {
  background: var(--mantine-color-gray-2);
}
.payment-method__card.selected {
  outline: 1px solid var(--mantine-color-blue-6);
}

.payment-method__card img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .user-details__input {
    width: 100%;
  }
}
/*? ---------------------------- Completed Screen ---------------------------- */

.completed__screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  text-align: center;
}
.completed__screen img {
  font-size: 32px;
  color: var(--mantine-color-gray-9);
  margin-bottom: 1.5rem;
}
.completed__screen h2 {
  font-size: 32px;
  color: var(--mantine-color-gray-9);
  font-weight: 500;
}
.completed__screen p {
  font-size: 20px;
  color: var(--mantine-color-gray-5);
  margin-bottom: 1.5rem;
  max-width: 50`0px;
}
/* ----------------------------- Time & Date ------------------------------------ */
.timedate {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-x: auto;
}

.timedate__btn {
}

.timedate__container {
  background-color: #fff;
  height: 100%;
  flex-grow: 1;
  border: 1px solid #e1e1e1;
}

.timedate__head {
  height: 119px;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timedate__head p {
  font-size: 36px;
  font-weight: 600;
}

.timedate__head span {
  font-size: 18px;
  color: #767676;
}

.timedate__times {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 35px 8px;
}
